*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
}

.nav, .profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    list-style: none;
}

input{
    height:36px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

button{
    background-color: #242424;
    height: 36px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #242424;
}


